body {
	background-color: #2956B2;
	color: #ffffff;
	margin: 5%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat';
	font-weight: 700;
}

p, li {
	font-family: 'CallunaSans-Regular';
	/*font-family: 'Raleway';
	font-weight: 400;*/
	
}

.CallunaSans-Regular { 
	font-family: CallunaSans-Regular;
	font-weight: normal;
	font-style: normal;
}

/* Nav Menu */
li.nav-menu-items {
	text-decoration: none;
    list-style: none;
    display: inline;
    padding: 5px 10px;
}

hr.style1 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}