/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

/* Ruuuulll Styles */

body {
	background-color: #2956B2;
	color: #ffffff;
	margin: 5% 5% 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 36px;
}

#header nav#top-nav ul li {
	font-family: 'CallunaSans-Regular';
	/*font-family: 'Raleway';
	font-weight: 400;*/
	font-size: 18.4px;
	
}

p, li {
	font-family: 'CallunaSans-Regular';
	/*font-family: 'Raleway';
	font-weight: 400;*/
	font-size: 22px;
	
}

::selection {
  background: #34495e; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #34495e; /* Gecko Browsers */
}

.CallunaSans-Regular { 
	font-family: CallunaSans-Regular;
	font-weight: normal;
	font-style: normal;
}

/* Nav Menu */
ul {
	text-align: right;
}

ul li#work.nav-menu-items::after {
	content: ' | ';
	padding: 0 10px;
}

ul > li > a {
	text-decoration: none;
	color: #ffffff;
}

#work-list > li {
  margin: 0 0 5px 1.5%;
}

ul > li > a:hover {
	border-bottom: 3px solid tomato;
}

li.nav-menu-items {
	text-decoration: none;
    list-style: none;
    display: inline;
    justify-content: flex-end;
}

hr.style1 {
	height: 6px;
	background: url("../images/hr-11.png") repeat-x 0 0;
    border: 0;
    margin-bottom: 2%;
}

hr.style1-white {
	height: 6px;
	background: url("../images/hr-11-white.png") repeat-x 0 0;
    border: 0;
    margin-bottom: 2%;
}

hr#footer-divider.style1,
hr#footer-divider.style1-white {
	margin-top: 3%;
}

#home-main h1{
	margin: 5% 0 2%;
}

#home-main img {
	flex-shrink: 0;
    max-width: 350px;
    width: 100%;
    margin-top: 5%;
}

#home-main img.photo-frame {
	border: 15px solid #ffffff;
	float: right;
}

#home-main-content-block {
	/*margin-right: 10%;*/

}

.home-intro-text {
    font-size: 22px;
    line-height: 125%;
    flex-shrink: 0;
}

#home-main ul#home-skills-list,
ul#home-skills-list li {
	margin-left: 1.5%;
	text-align: left;
	list-style: none;
	font-size: 22px;
}

footer hr {
	margin: 2% 0;
}

footer p, footer a, footer p a {
	color: #ffffff;
	text-decoration: none;
	font-size: 18.4px;
	font-family: "CallunaSans-Regular", sans-serif !important;
}

footer p a:hover {
	border-bottom: 3px solid tomato;
	color: #ffffff;
}

footer a:hover {
	color: tomato;
}

footer a img {
	max-height: 10%;
}

/* Werk werk werk */

h1#logo a#header-home-link {
	color: #ffffff;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}

ul#work-list {
	text-align: left;
	list-style: outside none none;
}

#work-list > li::before,
#home-skills-list > li::before {
    /*content: " \f08a	";*/
    content: " \f101";
    font-family: "FontAwesome";